h1 {}

p {
    font-size: 14px;
}

a {}

span {
    font-size: 12px;
}

small {
    font-size: 12px;
}

ul {
    li {}
}

th,
tr,
td {}


button,
.btn {
    font-size: 14px;
}

input,
textarea,
.form-control {
    font-size: 14px;
}